body {
    font-family: loma ,Osaka;
    font-size: 12pt;
    margin:  10px 10px 10px 20px;
    line-height: 1.4em;
}

h1 {
    font-size: 1.2em;
    border-bottom: solid 1px #999;
    text-align: center;		    
}
h2 {
    font-size: 1.2em;
    text-align: center;
    color: #03155b;
}
h3 {
    font-size: 1.2em;
    text-align: center;
    margin-top: 5px;
    color: #03155b;
}
h4 {
    font-size: 1.2em;
    text-align: left;
    color: #a52a2a;
}
.error{
    font-size: 0.7em;
}
address {
    font-size: 0.7+em;
    text-align: center;		        
    color:#b22222;
}
.c2 {
   witdh:100px; 
}